name: Build and Deploy to AKS

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  REGISTRY: ecommerce007.azurecr.io
  RESOURCE_GROUP: K8s-RG
  CLUSTER_NAME: ecommerce-cluster
  NAMESPACE: ecommerce
  CHART_PATH: ./helm-charts/ecommerce

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Log in to Azure
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
        
    - name: Log in to ACR
      run: |
        docker login ${{ env.REGISTRY }} -u ecommerce007 -p ${{ secrets.ACR_PASSWORD }}
      continue-on-error: true
        
    - name: Build and push backend image
      uses: docker/build-push-action@v5
      with:
        context: ./backend
        push: true
        tags: ${{ env.REGISTRY }}/ecommerce-backend:latest
        
    - name: Build and push frontend image
      uses: docker/build-push-action@v5
      with:
        context: ./frontend
        push: true
        tags: ${{ env.REGISTRY }}/ecommerce-frontend:latest
        
    - name: Build and push ML image
      uses: docker/build-push-action@v5
      with:
        context: ./ml-recommender
        push: true
        tags: ${{ env.REGISTRY }}/ecommerce-ml:latest

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Log in to Azure
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
        
    - name: Set up kubectl
      run: |
        az aks get-credentials --resource-group ${{ env.RESOURCE_GROUP }} --name ${{ env.CLUSTER_NAME }}
        
    - name: Deploy to AKS
      run: |
        helm upgrade ecommerce ${{ env.CHART_PATH }} -f ${{ env.CHART_PATH }}/values.yaml -n ${{ env.NAMESPACE }} --create-namespace
